* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.moki-slide-container {
  position: relative;
  width: min(500px, 100vw);
  height: min(1000px, 100vh);
  margin: 0 auto;
  overflow: hidden;
  touch-action: none;
}

.moki-pagination {
  transform: translateY(-100%);
}

.moki-pagination-item {
  background-color: rgba(200, 200, 200, 0.3);
  border: none;
}

.moki-pagination-item.active {
  background-color: rgba(200, 200, 200, 0.7);
}
